#!/bin/bash

alias ls="ls -p --color=auto"
alias ll="ls -alF"
alias la="ls -A"
alias l="ls -CF"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias vi="gvim -v"
#alias vim="gvim -v"

# some shortcuts
alias clr="clear"
alias x+="chmod +x"
alias topdf="wkhtmltopdf"
alias toimg="wkhtmltoimage"

# download file with original filename
alias getfile="curl -O -L"

# download web page with all assets
alias getpage="wget --no-clobber --page-requisites --html-extension --convert-links --no-host-directories"

# pastebin
alias spaste="curl -F 'sprunge=<-' http://sprunge.us"

# git aliases
alias gst="git status -sb"
alias gph="git push"

# python
alias python="python3"
alias pip="pip3"
