#!/bin/bash

export GOPATH="$HOME/go"

export DENO_INSTALL="$HOME/.deno"

export NVM_DIR="$HOME/.nvm"

export PATH="$HOME/bin:$GOPATH/bin:$HOME/.gvm/bin:$HOME/.cargo/bin:$HOME/.deno/bin:$NVM_DIR:$HOME/.yarn/bin:$PATH"
