#!/bin/sh

# find with case insensitivity
ifind() {
	find . -iname "*$1*"
}

# check if given path is a file
isfile() {
	[ -f "$1" ] && echo "true" || echo "false"
}

# check if given path is a directory
isdir() {
	[ -d "$1" ] && echo "true" || echo "false"
}

# what the time
wtt() {
	date +%r
	date +%F
}

weather() {
	curl -s "wttr.in/$1?m1"
}
