global-dir = ~/.pnpm-global
store-dir = ~/.pnpm-store
registry = http://registry.npmjs.org/
maxsockets = 3
init.license = MIT

# add your info
init.author.name = Osama
init.author.email = iosamaify@gmail.com
init.author.url = https://osamaify.github.io
